In [1]:
import numpy as np
import pandas as pd

In [2]:
bc =pd.read_csv("../datasets/bitcoin.csv").drop("Date", axis=1).dropna()

In [3]:
bc['returns'] = np.log(bc["Close Price"]/bc["Close Price"].shift())

In [4]:
bc.drop("Close Price", axis=1, inplace=True)

In [5]:
bc = bc.dropna()

In [6]:
bc = bc.append(other={"returns": 0}, ignore_index=True)
bc = bc.append(other={"returns": 0}, ignore_index=True)
bc = bc.append(other={"returns": 0}, ignore_index=True)

In [7]:
bc.head()

    returns
0  0.040619
1  0.018526
2  0.031009
3 -0.000616
4 -0.059183

In [8]:
bc.to_csv("../datasets/bc_returns.csv")

IBM

In [9]:
ibm_prices = pd.read_csv("../datasets/ibm-prices.csv", header=0)#, dtype={"price": float})
ibm_prices.rename(inplace=True,columns=
                  {ibm_prices.columns[0]: "date",
                 ibm_prices.columns[1]: "ibm_prices"})
ibm_prices = ibm_prices.iloc[:-1]
ibm_prices.date = pd.to_datetime(ibm_prices.date)
ibm_prices.ibm_prices = ibm_prices.ibm_prices.astype(float)
ibm_prices.set_index(inplace=True, keys="date")

In [10]:
log_returns = np.log(ibm_prices.ibm_prices / ibm_prices.ibm_prices.shift())

In [11]:
abs_log_returns = np.abs(np.log(ibm_prices.ibm_prices / ibm_prices.ibm_prices.shift()))
abs_log_returns = abs_log_returns.dropna()

In [12]:
log_returns.dropna().reset_index(drop=True).to_csv("../datasets/ibm_returns.csv")